.nav {
  position: fixed;
  height: 75px;
  display: flex;
  width: 95%;
  left: 2.5%;
  top: 2.5%;
  padding: 0.5rem 1rem;
  transition: all 1s ease;
  justify-content: flex-end;
  align-items: center;
  border-radius: 15px;
  z-index: 9999;
}

.ceil_nav{
  top: 0;
  left:0;
  width: 100vw;
  border-radius: 0px;
  background: rgba(255, 255, 255, .7);
}

.nav:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 40px -8px rgba(0, 0, 0, 0.5);
}

.nav ul {
  /*
    相对于父元素居中
    */
  display: inline-block;
}

.nav li {
  /*
  横向排列
  */
  display: inline-block;
  margin: 0 1rem;
}

.nav li a {
  /*
  链接样式
  */
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s ease-out, border 0.2s ease-out, opacity 0.2s ease-out;
  width: 100%;
}

.nav li a:hover {
  /*
    从最左边的字开始变色
  */
  color: #fe9600;
}

.nav li a:hover:after {
  /*
  变更最大宽度为 与父元素 a标签相同
  */
  max-width: 100%;
}

.nav li a:after {
  content: "";
  display: block;
  position: relative;
  height: 6px;
  background-color: #fe9600;
  width: 100%;
  max-width: 0;
  bottom: -1.3rem;
  transition: max-width 0.25s ease-in-out;
}
