.back_top_svg {
  --svg_backtop: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M905.5 729.5l-83 82.5q-9.5 9.5-22.5 9.5t-22.5-9.5L512 546.5 246.5 812q-9.5 9.5-22.5 9.5t-22.5-9.5l-83-82.5q-9.5-9.5-9.5-22.75t9.5-22.75l371-370.5Q499 304 512 304t22.5 9.5l371 370.5q9.5 9.5 9.5 22.75t-9.5 22.75z'/%3E%3C/svg%3E");
  --size: 16px;
  mask: 0 0 / var(--size) var(--size);
  -webkit-mask: 0 0 / var(--size) var(--size);
  color: #404040;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  background-color: currentColor;
  vertical-align: middle;
  mask-image: var(--svg_backtop);
  -webkit-mask-image: var(--svg_backtop);
  transition: color 0.5s;
  margin: 0;
}

.go_top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: 0;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  transform: scale(0);
  line-height: 1;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
